<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Product List</h1>
    <div>
        <a href="products/add">Add New Product</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a th:href="@{/product/update/{id}(id=${product.id})}">Update</a> |
                    <a th:href="@{/product/delete/{id}(id=${product.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>