<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<form th:action="@{/countries}" method="get">
    <input type="text" name="keyword" placeholder="Search country name..."/>
    <button type="submit">Search</button>
</form>

<a th:href="@{/countries/add}">Add New</a>
<table>
    <tr>
        <th>ID</th><th>Name</th><th>Continental</th><th>Action</th>
    </tr>
    <tr th:each="c : ${countries}">
        <td th:text="${c.countryId}"></td>
        <td th:text="${c.countryName}"></td>
        <td th:text="${c.continental}"></td>
        <td>
            <a th:href="@{'/countries/edit/' + ${c.countryId}}">Edit</a>
            <a th:href="@{'/countries/delete/' + ${c.countryId}}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>
