<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>JPA (Java Persistence API) là một đặc tả chuẩn của Java dùng để quản lý dữ liệu quan hệ trong các ứng dụng Java
    thông qua ánh xạ đối tượng-quan hệ (ORM). Nó cung cấp cách tiếp cận trừu tượng và nhất quán để lưu trữ, truy vấn và
    xử lý dữ liệu từ cơ sở dữ liệu mà không cần viết nhiều câu lệnh SQL thuần. Hibernate là một trong những framework
    phổ biến nhất hiện nay hiện thực hóa JPA, nghĩa là Hibernate tuân thủ các quy tắc do JPA đặt ra, đồng thời mở rộng
    thêm nhiều tính năng mạnh mẽ. Việc sử dụng JPA giúp tách biệt logic nghiệp vụ khỏi logic truy xuất dữ liệu, tăng
    tính linh hoạt, dễ bảo trì và dễ chuyển đổi giữa các công cụ ORM khác. Trong phát triển ứng dụng Java hiện đại, JPA
    là nền tảng quan trọng giúp đơn giản hóa việc tương tác với cơ sở dữ liệu một cách hiệu quả và rõ ràng hơn.</h1>
</body>
</html>