<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Một HTTP Request bao gồm bốn thành phần chính: Method, URL, Headers và Body. Phần Method xác định hành động muốn
    thực hiện, ví dụ: GET để lấy dữ liệu, POST để gửi dữ liệu mới, PUT để cập nhật dữ liệu hiện có và DELETE để xóa. URL
    là địa chỉ tài nguyên trên máy chủ mà client muốn truy cập. Headers chứa các thông tin bổ sung như kiểu dữ liệu
    (Content-Type), thông tin xác thực (Authorization) hoặc định danh trình duyệt (User-Agent). Cuối cùng, Body là phần
    nội dung gửi kèm, chỉ xuất hiện trong một số method như POST hoặc PUT, dùng để truyền dữ liệu như form, JSON hoặc
    file. Cấu trúc rõ ràng của HTTP Request giúp client và server giao tiếp hiệu quả và chuẩn hóa.</h1>
</body>
</html>